body{
  background-color: antiquewhite;
}

.App {
  text-align: center;
}

.wrp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:1rem;
  flex-wrap: wrap;
  height: auto;
  background-color: antiquewhite;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.cocktails{
height: 42rem;
width:  20rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
overflow: scroll;
box-shadow: 5px 5px 30px black;
position: relative;

}

.cocktail-name{
  height: 13%;
  width: 100%;
  position: absolute;
  top: 0;
  text-shadow: 2px 2px 5px;
}


.cocktails img{
  height:50%;
  width: 100%;
  position: absolute;
  top:13%;
}

.instr{
  position: absolute;
  top:63%;
  height:30%;
  overflow: hidden;
}



.cocktails button {
  border: none;
  height: 5vh;
  width: 30vw;
  border-radius: 40px;
  background-color: #333;
  color: antiquewhite;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 2px 2px 5px black;
  position: absolute;
  bottom: 1rem;
}

.cocktails button:hover{
  box-shadow: 5px 5px 30px black;
  cursor: pointer;
}


.posts-wrp{
  height: auto;
  margin-top: 10rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.post-cont{
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-cont button {
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 40px;
  background-color: #333;
  color: antiquewhite;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 1rem;
}

.post-cont button:hover {
cursor: pointer;
box-shadow: 5px 5px 30px black;
}



.comments-list{
  list-style: none;
}

.comment-item::after{
content: '';
width: 100%;
height: 1px;
background-color: black;
position: absolute;
bottom: -10px;
left: -10px
}
.comment-item{
position: relative;
}